.Main.Contents .gallery-image-wrapper {
	background-color: transparent;
}

.Main.Contents .lightbox-caption {
	font-size: 1em;
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.Main.Contents .lightbox-caption a{
	color:black;
}
